.content-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 100%;
    min-height: 0; 
    /* margin-top: -5vh; */
}
.audio-production-section{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center; /* Center the grid */
    /* align-self:flex-start; */
    width: 100%;
    margin: 0 auto;
    height: 90%; /* Full height */
    gap: 0;
    margin-top: 10px;
}

.column{
    box-sizing: border-box; 
    padding: 10px;
    flex-direction: column;
    height: 35vh;
    overflow-x:hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: relative;
    -webkit-mask-image: 
      linear-gradient(to bottom, 
        transparent 0%, 
        #EDEDED 10%, 
        #EDEDED 90%, 
        transparent 100%);
    mask-image: 
      linear-gradient(to bottom, 
        transparent 0%, 
        #EDEDED 10%, 
        #EDEDED 90%, 
        transparent 100%);
}

.column::-webkit-scrollbar {
  display: none;
}

.column:not(:last-child) {
  border-right: 1px solid #777777; 
}

.no-track-container{
  display: grid;
  place-items: center; /* Shorthand for centering in both directions */
  height: 30vh;
  width: 100%;
  
}

.no-track-text{
    color: #777777;
    /* max-width: 600px; */

}
