.create-mix-button{
    justify-self: center;
    align-content: center;
    width: 350px;
    height: 75px;
    background-color: #9496E5;
    color: white;
    border-radius: 30px;
}

.mix-again-button{
    justify-self: center;
    align-content: center;
    width: 200px;
    height: 75px;
    background-color: #9496E5;
    color: white;
    border-radius: 30px;
}
